/* Estilo general */
body,
h1, h2, h3, h4, h5, h6,
.navbar, .nav-link,
.btn, button,
input, textarea {
    font-family: 'Lora', sans-serif !important;
}

html {
    height: 100%;
}

body {
    
    margin-top: 0px;
    padding: 0;
    color: #333;
    line-height: 1.6;
    width: 100%; height: 100%;
}


/* Estilo que contiene el nav */
header {
    background-color: #fff2eb;
    padding: 0px 0 0 0; 
    margin-bottom: 0px;
    margin-top: 0px;
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 1000;    
    box-shadow: 0 2px 5px #0000001a;
    img {width: 180px; height: 50px; }
    .menu-navegacion .nav-link
    {
    color: #be9569 ;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;}
    .menu-navegacion .nav-link:hover 
    {
    color: #9e7e5c ;
    transform: translateY(-2px);}
    .menu-navegacion.navbar-toggler 
    {
    border-color: #c49a6c }
    .navbar-toggler:focus,
    .navbar-toggler:active {
    box-shadow: 0 0 0 2px #e3c6a4 ;  
}
    
    .boton-busqueda {
    background-color: #ebd7c27a;
    border: none;
    padding: 0 15px;
    transition: background-color 0.4s ease;}
    .boton-busqueda:hover {
    background-color: #ac9472b0;}


    
        
}   
main { padding-top: 135px;} /* Para separar el contenido del header */
    



/* Secciones */
section {
    padding: 0px;
    margin-bottom: 30px;
}

#inicio {
    background-color: #fff9f5; 
    border-radius: 15px;
    max-width: 700px;
    margin: 0px auto;
    
    padding: 0px 40px;
    text-align: center;
    box-shadow: 0 4px 15px #c28f591a;
    border: 1px solid #f4dfc8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
#inicio h2 {
    font-size: 1.8rem;  
    margin-bottom: 0px;
    margin-top: 40 
}

#inicio p {
    font-size: 0.95rem; 
    margin-bottom: 10px;
}
/* Catálogo de productos */
#catalogo h2 {
    margin-top: 35px;
}
.catalogo, .arma_tu_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.producto, .producto2 {
    background-color: white;
    border: 1px solid #c49a6c;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px #0000001a; 
    transition: transform 0.3s;
}

.producto:hover, .producto2:hover {
    transform: translateY(-5px);
}

.producto img, .producto2 img {
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #b99167;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 11px ;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c49a6c;
}

/* Testimonios */
.testimonio {
    background-color: white;
    border-left: 4px solid #c49a6c;
    padding: 15px;
    margin: 15px auto;
    max-width: 600px;
    text-align: left;
   box-shadow: 0 2px 5px #0000001a; 
}

textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #c49a6c;
    border-radius: 5px;
}

/* Ocasiones */
#ocasiones {
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#ocasiones ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#ocasiones li {
    background-color: white;
    padding: 8px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #0000001a; 
}

/* Contacto */
#contacto {
    margin: 0px 0;
    padding: 10px 0;
}
#contacto h3 {
    margin-top: -8px;
    color: #9b754c;
}

#contacto a,i {
    display: inline-block;
    margin: 0px 0px;
    color: #c49a6c;
    text-decoration: none;
    font-weight: bold;
    
}

/* Footer */
footer {
       background-color: #fff2eb;
       padding: 0px 0;  
       margin-top: 20px; 
       text-align: center; 
       font-size: 0.9rem; 
}


    

    
